<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.sf.j2s.ui.cmdlineApi"
         name="net.sf.j2s.ui.cmdlineApi"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.j2s.ui.cmdline.Application">
         </run>
      </application>
   </extension>
   <extension
         id="java2scriptbuilder"
         name="Java2Script Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="net.sf.j2s.core.builder.Java2ScriptBuilder">
         </run>
      </builder>
   </extension>

</plugin>
