.shell-manager-sidebar {
	position:absolute;
	top:0;
	left:0;
	/*z-index:3690;*/
}
.shell-manager-bar {
	position:absolute;
	left:0;
	width:48px;
	background-color:rgb(57,61,254);
	border-style:solid solid solid none;
	border-width:1px;
	border-color:buttonshadow;
	font-size:0;
	margin:0;
	padding:0;
	opacity:0.85;
	filter:Alpha(Opacity=85);
}
.shell-manager-bar-minimized {
	position:absolute;
	left:0;
	width:8px;
	font-size:0;
	margin:0;
	padding:0;
	background-color:rgb(57,61,254);
	border-style:solid solid solid none;
	border-width:1px;
	border-color:buttonshadow;
	opacity:0.85;
	filter:Alpha(Opacity=85);
}
.shell-item, a.shell-item {
	display:block;
	text-decoration:none;
	cursor:default;
	position:absolute;
	left:16px;
	width:150px;
	height:26px;
	font-size:0;
	margin:0;
	padding:0;
	background-color:buttonface;
	border:1px solid navy;
	opacity:0.75;
	filter:Alpha(Opacity=75);
}
.shell-item:hover, a.shell-item:hover {
	background-color:highlight;
	color:highlighttext;
	border:1px solid navy;
	opacity:0.85;
	filter:Alpha(Opacity=85);
}
.shell-top-item {
	/*border:1px solid darkred;*/
	opacity:1;
	filter:Alpha(Opacity=100);
}
.shell-top-item:hover, a.shell-top-item:hover {
	/*border:1px solid navy;*/
	background-color:highlight;
	color:highlighttext;
	opacity:0.85;
	filter:Alpha(Opacity=85);
	/*opacity:0.75;
	filter:Alpha(Opacity=75);*/
}
a.shell-item:focus {
	background-color:buttonhighlight;
}
.shell-item-icon {
	float:left;
	/*background-color:buttonface;*/
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url('images/shell-packed.gif');
	width:16px;
	height:16px;
	position:relative;
	left:8px;
	top:50%;
	margin-top:-7px;
	_margin-top:-8px;
}
.shell-item-icon-console {
	background-position:bottom left !important;
}
*:first-child+html .shell-item-icon { /* IE7 */
	margin-top:-8px;
}
.shell-item-text {
	position:relative;
	text-align:left;
	font-family:Arial, sans-serif;
	font-size:10pt;
	color:buttontext;
	/*width:108px;*/
	overflow:hidden;
	height:1.5em;
	white-space:nowrap;
	top:50%;
	left:36px;
	_left:18px;
	margin-top:-0.6em;
}
*:first-child+html .shell-item-text { /* IE7 */
	left:18px;
}
.swt-widgets-taskbar {
	width:324px;
}