.tray-cell {
	position: absolute;
	width: 0;
	height: 0;
	font-size: 0;
	border-style: solid;
	border-width: 0;
	border-top-width: 36px;
	border-right-width: 36px;
	opacity:0.85;
	filter:Alpha(Opacity=85);
}
.tray-item {
	position: absolute;
	width: 16px;
	height: 16px;
	font-size: 0;
	cursor: default;
	background-repeat: no-repeat;
	background-position: center center;
}
.tray-item-console {
	background-position:bottom left !important;
	background-image:url('images/shell-packed.gif');
}
.tray-minimized {
	left: 0;
	top: 0;
	border-top-width: 16px;
	border-right-width: 16px;
}
.tray-logo-item {
	position: absolute;
	left: 0;
	top: 0;
	width: 36px;
	height: 36px;
	cursor: pointer;
	_cursor: hand;
	background-image: url('images/z-logo.png');
	background-position: right bottom;
	background-repeat: no-repeat;
	opacity:0.85;
	filter:Alpha(Opacity=85);
}
.tray-float-block {
	float: left;
	clear: both;
	font-size: 0;
	height: 18px;
}

.tray-cell-inner-wide-shadow {
	position:absolute;
	width:48px;
	height:48px;
	background-image: url('images/strip-inner-wide.png');
	background-position: right bottom;
	background-repeat: no-repeat;
}
.tray-cell-inner-shadow {
	position:absolute;
	width:36px;
	height:36px;
	background-image: url('images/strip-inner.png');
	background-position: right bottom;
	background-repeat: no-repeat;
}
.tray-cell-outer-wide-shadow {
	position:absolute;
	width:60px;
	height:60px;
	background-color:transparent;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAB7UlEQVR4nGNIS0tjGIT4CBAvBOIOIC4F4lQgDgdibyB2BGJzINYHYnUgVgRiaSAWA2JBIOYFYi4gZgdiViBmBmJGKGYYaI9hwzTzLAgPpMewYZp6FoQHymPYMM09C8ID4TFsmC6eBWF6ewwbpptnQZieHsOG6epZEKaXx7BhunsWhOnhMWx4QDwLwrT2GDY8YJ4FYVp6DBseUM+CMK08hg0PuGdBmBYew4YHhWdBmNoew4YHjWdBmJoew4YHlWdBmFoew4YHnWdBmBoew4YHpWdBmIEahqDhQetZEGaglkFQPKg9C8IMVDRs0HsWhKll0JDwLAhTw5Ah41kQptSAIeVZEKZE85DzLAiTq3FIehaEydE0ZD0LwqRqGNKeBWFSFA95z4IwsQqHhWdBmBhFw8azIExIwbDyLAjjkxx2ngVhXBLD0rMgjE1w2HoWhNEFhrVnQRiZM+w9C8IwxojwLAiDiBHjWRAGESPGsyAMIkaMZ0EYRIwYz4IwiBgxngVhEDFiPAvCIGLEeBaEQcSI8SwIg4gR41kQBhEjxrMgDCJGjGdBGESMGM+CMIgYMZ4FYRAxYjwLwiBixHgWhEHEiPEsCIOIEeNZEAYRI8azIAwiRoxnQRhEjBjPgjCIGDGeBWEQMWI8C8ID7gB6YwDBdJsCtiZfcAAAAABJRU5ErkJggg==);
	background-position: left top;
	background-repeat: no-repeat;
}
.tray-cell-outer-shadow {
	position:absolute;
	width:36px;
	height:36px;
	background-color:transparent;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAA4UlEQVR4nGNIS0tjGEx4wB2AjgfcAWh460A7ABlvBeLpA+0IGAY7BogbB9ohIAx3DBDnDyrHAHHCoHIMEAcPKscAsfugcgwQ2w4qxwCxyaByDBDrDCrHALHqoHIMEMsNKscAseSgcgwQiwwqxwAx/6ByDBDzDCrHADHnoHIMELMNKscAMcugcgwQMw0qxwAx46ByTBoFDqKJY0BmDyrHpJHhIJo6Jo1EB9HcMWkkOIgujkkj0kF0c0waEQ6iq2PSCDiI7o5Jw+OgAXFMGg4HDZhj0rA4aEAdk4bmoAF3DAgDACxckICqNdGgAAAAAElFTkSuQmCC);
	background-position: left top;
	background-repeat: no-repeat;
}

.swt-widgets-tray {
	width:324px;
}