.tree-default, .tree-default table, .tree-default tr, .tree-default td, .tree-text {
	font-family:Tahoma, Arial,sans-serif;
	font-size:8pt;
	margin:0;
	padding:0;
	background-color:white;
}
.tree-default {
	padding-left:1px;
	_padding-left:2px;
	_padding-top:1px;
}
.tree-content {
	padding:0;
	margin:0;
	border-collapse:collapse;
}
.tree-v-scroll {
	overflow:scroll;
	overflow-x:hidden;
}
.tree-h-scroll {
	overflow:scroll;
	overflow-y:hidden;
}

.tree-default thead td {
	overflow:hidden;
	padding:0 !important;
}

thead .tree-head-text {
	background-color:buttonface;
	border-style:solid;
	border-width:1px 2px 2px 1px;
	border-color:#666 white white #666;
	border-color:white #666 #666 white;
	cursor:default;
	padding:1px 2px;
	white-space:nowrap;
}
.tree-column-last .tree-head-text {
	border-width:1px 0 2px 1px;
}

.tree-default tbody td {
	cursor:default;
	white-space:nowrap;
}
.tree-grid-line tbody td {
	border-style:solid;
	border-color:menu;
	border-width:1px 1px 0 0;
}
.tree-column-last {
	width:16px;
	padding-right:2px;
	background-color:white
}
.tree-grid-line tbody .tree-column-last {
	border-width:1px 0 0 0;
}
.tree-grid-line .tree-row-first td {
}
.tree-full-selection tr.tree-item-selected td {
	background-color:ActiveCaption;
	color:highlighttext;
	min-height:1px;
}
.tree-blur .tree-full-selection tr.tree-item-selected td {
	background-color:gray;
}
/*
.tree-full-selection tr.tree-item-selected td.tree-column-first {
	color:black;
	background-color:white;
}
*/
.tree-full-selection tr.tree-item-selected td.tree-column-last {
	color:black;
	background-color:white;
}

.tree-line {
	position:relative;
	margin:0;
	padding:0;
	height:1.39em;
	line-height:1.39em;
	overflow:hidden;
}
.tree-line-wrapper {
	position:relative;
	width:1024px;
	white-space:nowrap;
	margin:0;
	padding:0;
	height:100%;
	line-height:100%;
	overflow:hidden;
}

.tree-check-box {
	margin:0;
	padding:0;
	position:absolute;
	display:none;
	left:-14px !important;
	min-height:13px;
	_height:1em;
	width:13px;
	_width:14px;
}
.tree-check .tree-check-box {
	display:block;
}
@media all and (min-width:0px){/* opera */
.tree-check-box {
	top:50%;
	margin-top:-8px;
	left:-16px !important;
}
}

.tree-text {
	min-height:16px;
	height:1.39em;
	line-height:1.39em;
	margin-left:2px;
	left:-1px;
	_left:-3px;
	white-space:nowrap;
	float:left;
	padding-bottom:1px;
	position:relative;
}
/*
	
	position:relative;

	*/
.tree-text-rtl {
	float:right;
	margin-left:auto;
	margin-right:2px;
}
/*
	right:0px !important;

*/
tree-image-icon {
	_padding-bottom:2px;
	_height:16px;
	display:none;
}
tree-image tree-image-icon {
	display:block;
}
.tree-image .tree-text {
	padding-left:18px;
}
.tree-check .tree-text {
	margin-left:16px;
}
.tree-column-first {
	color:black;
	background-color:white;
	white-space:nowrap;
	height:1em;
	overflow:hidden;
}
.tree-text-inner {
	/*padding:2px 3px 1px 2px;*/
	min-height:14px;
	_height:14px;
	_width:1px;
	overflow-x:visible;
	white-space:nowrap;
	padding:0 3px 2px 2px;
}
.tree-grid-line tbody .tree-text-inner {
	padding-top:1px;
	padding-right:2px;
}
.tree-column-last .tree-text-inner {
	width:1px;
	height:1px;
}
.tree-no-columns .tree-column-last {
	width:1px;
	overflow-x:hidden;
	padding-left:0;
	padding-right:0;
	margin-left:0;
	margin-right:0;
	border-left:0 none transparent;
	border-right:0 none transparent;
}

.tree-item-selected .tree-column-first .tree-text-inner {
	background:ActiveCaption !important;
	color:highlighttext;	
	min-height:1px;
}
.tree-blur .tree-item-selected .tree-column-first .tree-text-inner {
	background-color:gray;
}
.tree-item-selected .tree-column-first .tree-text {
	background-color:ActiveCaption !important;
}
.tree-default {
	overflow:hidden;
	position:absolute;
	background-color:white;
}
.tree-default td {
	overflow:hidden;
}
.tree-item-default {
	cursor:default;
	white-space:nowrap;
	font-size:9pt;
	font-family:Arial,sans-serif;
}
.tree-column-resize {
	top:1px;
	position:absolute;
	cursor:e-resize;
	width:3px;
  	font-size:0;
	z-index:100;
	float:right;
}


.tree-item-focus {
	background-color:#E8F2FE;
}

.tree-anchor {
	position:relative;
	float:left;
	top:0;
	left:0;
	right:0;
	margin-left:3px;
	width:16px;
	min-height:16px;
	height:1.39em;
	line-height:1.39em;
	overflow:hidden;
}

* html .tree-anchor {
	margin-left:1px;
}

.tree-anchor-rtl {
	float:right;
	left:auto;
	right:0px;
}


.tree-anchor-v {
	position:absolute;
	top:0;
	left:5px;
	width:1px;
	height:100%;
	font-size:0;
	/*
	border-left:1px dotted #777;
}
* html .tree-anchor-v {
	*/
	/*border-left:0 none transparent;*/
	width:16px;
	left:0;
	right:0;
	background-repeat:repeat-y;
	background-position:center center;
	background-image:url('images/tree-packed.gif');
}

.tree-anchor-rtl .tree-anchor-v{
	right:5px;
	left:auto;
}

.tree-anchor-single .tree-anchor-v {
	background-image:none;
}
.tree-anchor-begin .tree-anchor-v {
	height:50%;
	top:50%;
}
.tree-anchor-end .tree-anchor-v {
	height:50%;
}
.tree-anchor-h {
	position:absolute;
	left:0;
	right:0;
	top:50%;
	margin-top:-8px;
	width:15px;
	margin-right:1px;
	font-size:0;
	height:16px;
	background-repeat:no-repeat;
}
.tree-anchor-rtl .tree-anchor-h{
	left:auto;
	right:0;
}
.tree-image .tree-anchor-h {
	width:16px;
	margin-right:0;
}
.tree-anchor-minus {
	background-position:left top;
	background-image:url('images/tree-packed.gif');
}
.tree-anchor-plus {
	background-position:left center;
	background-image:url('images/tree-packed.gif');
}
.tree-anchor-line {
	background-position:left bottom;
	background-image:url('images/tree-packed.gif');
}
.tree-grid-line .tree-anchor-v {
	background-image:none;
}
.tree-grid-line .tree-anchor-minus {
	background-position:right top;
}
.tree-grid-line .tree-anchor-plus {
	background-position:right center;
}
.tree-grid-line .tree-anchor-line {
	background-position:right bottom;
}

/*
 * Common image position from Composite.css
 */
.image-p-4, .image-p-5 {
    position:absolute;
    /*top:50%;
    margin-top:-0.5em;
	*/
	bottom:50%;
	margin-bottom:-0.5em;
}
.image-p-4 {
    left:0;
}
.image-p-5 {
    left:50%;
    margin-left:-0.5em;
}
@media all and (-webkit-min-device-pixel-ratio:0){/* safari only */
.image-p-4, .image-p-5 {
	margin-bottom:-0.48em;
}
}
*:first-child+html .image-p-4, *:first-child+html .image-p-5 { /* IE7 */
	margin-bottom:-0.4em;
}
* html .image-p-4, * html .image-p-5 { /* IE6 */
	margin-bottom:-0.4em;
}
/* default icon size 16x16 */
.image-n-4, .image-n-5 {
    width:16px;
    height:16px;
    font-size:16px;
    _font-size:14px;
    overflow:hidden;
}
.swt-widgets-tree {
	width:324px;
}
