<!-- Copyright 2002-2011, University of Colorado -->
<body>
This package contains a standard control for manipulating model (double) values.
The control combines a slider and textfield into one compound control.
The implementation separates the following issues:
<ul>
    <li>the mapping between JSlider (int) values and model (double) values
    <li>processing of user interaction with the slider and textfield
    <li>synchronization of the slider and textfield
    <li>layout of the control
</ul>
<p>
    We'll describe the parts of this package from the top down.

<p>
    AbstractValueControl and its subclasses provide compound controls
    that combine an AbstractSlider and a textfield. This control
    handles user interaction with the slider and text field,
    and keeps the slider and textfield synchronized. The specifics
    of the control's layout are handled by implementations of ILayoutStrategy.

<p>
    ILayoutStrategy is implemented by classes that can handle the
    layout of an AbstractValueControl. A default layout, DefaultLayoutStrategy,
    is provided. If you don't specify a layout strategy when you create
    an AbstractValueControl, you'll get the default layout. If you don't
    like this layout, or have special needs, create your own layout.

<p>
    AbstractSlider and it's subclasses extend JSlider to deal with
    model values. The mapping between JSlider and model values
    is handled using the Strategy pattern.
    AbstractMappingStrategy and its subclasses perform this mapping.
    Linear and logarithmic mappings are provided.
</body>