.composite-default {
	position:absolute;
	white-space:nowrap;
	/*
	font-family:Tahoma, Arial, sans-serif;
	font-size:8pt;
	*/
	font-size:0;
	margin:0;
	padding:0;
	overflow:hidden;
}
.composite-border {
	white-space:nowrap;
	border-style:solid;
	border-width:2px;
	border-color:black white white black;
}
