/*******
 * Copyright ognize.com (2005).
 *
 * @author josson smith
 * @create Nov 5, 2005
 *******/

body {
	margin:0;
	padding:0;
	overflow:hidden;
}
.consolewindow {
	width:100%;
	height:100%;
	background-color:black;
/*	background-color:blue;*/
	color:white;
	overflow:scroll;
	font-family:Arial, sans-serif;
	font-size:10pt;
	font-weight:bold;
}
/*
* html .consolewindow {
	padding: 4px;
}
*/
html, body {
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}

