.tool-bar-default {
	position:absolute;
}
.tool-bar-border {
	border:1px inset white;
}	
.tool-item-default {
	border: 1px outset white;
	float:left;
	cursor:default;
	margin:1px;
	white-space:nowrap;
}