<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension 
   		name="j2sAppLauncherTemplateSupport" 
   		id="j2sAppLauncherTemplateSupport"
        point="net.sf.j2s.ui.j2sAppLauncherTemplateSupport">
      <j2sAppLauncherTemplateSupport
            class="net.sf.j2s.ui.launching.template.velocity.J2sAppLauncherTemplateContributorImpl">
      </j2sAppLauncherTemplateSupport>
   </extension>

</plugin>
