## Description: A template for launching a J2S Application in a clean HTML document.
## currently does support only basic fatures. The following is not supported: mozilla addon, 
## J2S console, html (xhtml document is generated), link a la application
## No style decoration at all.
## 
## Author: Sebastián Gurin 
## J2S Template Revision 1 - 25 August 2010 - sgurin
##
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>${mainType}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
${htmlHeadOfHeader}
<script type="text/javascript" src="${j2slibUrl}j2slib.z.js"></script>
${htmlTailOfHeader}
</head>

<body>
<script type="text/javascript">
${J2SClasspathJ2X}
${J2SSetPrimaryFolder}
${J2SClasspathExistingClasses}
${J2sMainClassLoadCode}
</script>
</body>

</html>
