## Description: A template that generates an empty html file that includes
## the definition and call of javascript function responsible for loading 
## the j2s app
## see jsLauncherJs.vm
## Author: Sebastián Gurin 
## J2S Template Revision 1 - 25 August 2010 - sgurin
##


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>${mainType}</title>
<style text="text/css">
</style>
</head>
<body>
<script type="text/javascript">

## first of all the LOADJS utility for loading javascript dynamically:
(function(){if(!window.LOADJS){window.LOADJS=function(src,listener){var el=null;el=document.createElement("script");el.setAttribute("type","text/javascript");if(listener){el.onreadystatechange=function(){if(this.readyState=='complete')listener()};el.onload=listener}el.setAttribute("src",src);document.body.appendChild(el)}}})();

## then check if j2slib is loaded and load the j2s app:
(function(){

function onJ2SLoaded(mainArgs) {
${J2SClasspathJ2X}
${J2SSetPrimaryFolder}
${J2SClasspathExistingClasses}
##${J2sMainClassLoadCode}
ClazzLoader.loadClass ("${mainType}", function () {
	${mainType}.main(mainArgs);
});
}
function main(mainArgs) {
if(!window.ClazzLoader)
	LOADJS("${j2slibUrl}j2slib.z.js", function(){onJ2SLoaded(mainArgs);});
else 
	onJ2SLoaded();
}
window["${mainType}"]=main;

})();

//launch
window["${mainType}"]([]);//TODO: arguments
</script>
</body>
</html>
