.shell-manager-sidebar {
	position:absolute;
	top:0;
	left:0;
	z-index:3690;
}
.shell-manager-bar {
	position:absolute;
	left:0;
	width:120px;
	background-color:rgb(57,61,254);
	border-style:solid solid solid none;
	border-width:1px;
	border-color:buttonshadow;
	opacity:0.85;
	filter:Alpha(Opacity=85);
}
.shell-item, a.shell-item {
	display:block;
	text-decoration:none;
	cursor:default;
	font-family:Arial, sans-serif;
	position:absolute;
	left:1em;
	width:150px;
	height:2em;
	background-color:buttonface;
	border:1px solid navy;
	color:buttontext;
	opacity:0.55;
	filter:Alpha(Opacity=55);
}
.shell-item:hover, a.shell-item:hover {
	border:1px solid navy;
	opacity:0.95;
	filter:Alpha(Opacity=95);
}
.shell-top-item {
	border:1px solid darkred;
	opacity:1;
	filter:Alpha(Opacity=100);
}
.shell-top-item:hover, a.shell-top-item:hover {
	border:1px solid navy;
}
a.shell-item:focus {
	background-color:buttonhighlight;
}
.shell-item-icon {
	float:left;
	/*background-color:navy;*/
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url('images/shell-packed.gif');
	width:16px;
	height:16px;
	position:relative;
	left:4px;
	top:50%;
	margin-top:-7px;
	_margin-top:-8px;
}
*:first-child+html .shell-item-icon { /* IE7 */
	margin-top:-8px;
}
.shell-item-text {
	position:relative;
	width:120px;
	overflow:hidden;
	height:1.5em;
	white-space:nowrap;
	top:50%;
	left:24px;
	_left:6px;
	margin-top:-0.5em;
}
*:first-child+html .shell-item-text { /* IE7 */
	left:6px;
}
.shell-manager-topbar-container {
	position:absolute;
	left:0;
	top:0;
	border:1px solid windowframe;
	border-top:0 none transparent;
	background-color:buttonface;
	padding:2px;
	height:24px;
	font-size:10pt;
	height:1.6em;
	min-height:24px;
	_height:1.7em;
}
*:first-child+html .shell-manager-topbar-container { /* IE7 */
	height:1.7em;
}
.shortcut-bar {
	position:absolute;
	bottom:0;
	height:32px;
	background-color:rgb(57,61,254);
	margin:0;
	padding:0;
	font-size:0;
	opacity:0.85;
	filter:Alpha(Opacity=85);
}
.shortcut-item {
	position:absolute;
	bottom:12px;
	height:40px;
	width:40px;
	background-color:menu;
	background-repeat:no-repeat;
	background-position:center center;
	border:1px solid buttonshadow;
	margin:0;
	padding:0;
	font-size:0;
	opacity:0.6;
	filter:Alpha(Opacity=60);
}
.shortcut-bar-minized {
	position:absolute;
	bottom:0;
	height:8px;
	background-color:rgb(57,61,254);
	margin:0;
	padding:0;
	font-size:0;
	opacity:0.85;
	filter:Alpha(Opacity=85);
}
.shortcut-item:hover, a.shortcut-item:hover .shortcut-item-highlight {
	border:1px solid navy;
	opacity:0.95;
	filter:Alpha(Opacity=95);
}
.shortcut-active-item {
	border:1px solid darkred;
	opacity:1;
	filter:Alpha(Opacity=100);
}
.shortcut-active-item:hover, a.shortcut-active-item:hover {
	border:1px solid navy;
}
.swt-widgets-shellmanager {
	width:324px;
}