.shell-manager-sidebar {
	position:absolute;
	left:0;
	z-index:3690;
}
.shell-manager-bar {
	position:absolute;
	left:0;
	width:120px;
	background-color:buttonface;
	border-style:solid solid solid none;
	border-width:1px;
	border-height:buttonshadow;
	opacity:0.25;
	filter:Alpha(Opacity=25);
}
a.shell-item {
	display:block;
	text-decoration:none;
	cursor:default;
	font-family:Arial, sans-serif;
	position:absolute;
	left:1em;
	width:150px;
	height:2em;
	background-color:buttonface;
	border:1px solid buttonshadow;
	color:buttontext;
	opacity:0.85;
	filter:Alpha(Opacity=85);
}
a.shell-item:hover {
	opacity:0.55;
	filter:Alpha(Opacity=55);
}
a.shell-item:focus {
	background-color:buttonhighlight;
}
.shell-item-icon {
	float:left;
	background-color:navy;
	width:16px;
	height:16px;
	position:relative;
	left:4px;
	top:50%;
	margin-top:-7px;
	_margin-top:-8px;
}
.shell-item-text {
	position:relative;
	width:120px;
	overflow:hidden;
	height:1.5em;
	white-space:nowrap;
	top:50%;
	left:24px;
	_left:6px;
	margin-top:-0.5em;
}
.swt-widgets-shellmanager {
	width:324px;
}