.tray-cell {
	position: absolute;
	width: 0;
	height: 0;
	font-size: 0;
	border-style: solid;
	border-width: 0;
	border-top-width: 36px;
	border-right-width: 36px;
}
.tray-item {
	position: absolute;
	width: 16px;
	height: 16px;
	font-size: 0;
	cursor: default;
	background-repeat: no-repeat;
	background-position: center center;
}
.tray-logo-item {
	position: absolute;
	left: 0;
	top: 0;
	width: 36px;
	height: 36px;
	cursor: default;
	background-image: url('images/z-logo.png');
	background-position: right bottom;
	background-repeat: no-repeat;
}
.tray-float-block {
	float: left;
	clear: both;
	font-size: 0;
	height: 36px;
}

.swt-widgets-tray {
	width:324px;
}