<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Java2Script GTalk</display-name>
    <description>Java2Script version of Google Talk</description>
    <servlet>
        <servlet-name>simplerpc</servlet-name>
        <servlet-class>net.sf.j2s.ajax.SimpleRPCHttpServlet</servlet-class>
	       <init-param>
            <param-name>simple.rpc.runnables</param-name>
            <!-- 
              Qualified names of inherited net.sf.j2s.ajax.SimpleRPCRunnable
              classes, seperated by ";".
            -->
            <param-value>
                org.java2script.demo.gtalk.SendingRunnable;
                org.java2script.demo.gtalk.ReceivingRunnable;
                org.java2script.demo.gtalk.AddFriendRunnable;
                org.java2script.demo.gtalk.LoginRunnable;
                org.java2script.demo.gtalk.LogoutRunnable;
                org.java2script.demo.gtalk.UpdatingRunnable;
            </param-value>
        </init-param>
        <init-param>
            <param-name>simple.rpc.xss.support</param-name>
            <param-value>true</param-value>
        </init-param>
        <!--
        <init-param>
            <param-name>simple.rpc.post.limit</param-name>
            <param-value>16777216</param-value>
        </init-param>
        <init-param>
            <param-name>simple.rpc.xss.max.parts</param-name>
            <param-value>8</param-value>
        </init-param>
        <init-param>
            <param-name>simple.rpc.xss.max.latency</param-name>
            <param-value>6000</param-value>
        </init-param>
        -->
    </servlet>
    <servlet-mapping>
        <servlet-name>simplerpc</servlet-name>
        <url-pattern>/simplerpc</url-pattern>
    </servlet-mapping>
</web-app>
