<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault "access plus 5 years"
</IfModule>
<IfModule mod_deflate.c>
    # Netscape 4.x or IE 5.5/6.0
    BrowserMatch ^Mozilla/4 no-gzip
    # IE 5.5 and IE 6.0 have bugs! Ignore them until IE 7.0+
    BrowserMatch \bMSIE\s7 !no-gzip
    # IE 6.0 after SP2 has no gzip bugs!
    BrowserMatch \bMSIE.*SV !no-gzip
    # Sometimes Opera pretends to be IE with "Mozila/4.0"
    BrowserMatch \bOpera !no-gzip
    AddOutputFilterByType DEFLATE text/css text/javascript application/x-javascript
    Header append Vary User-Agent
</IfModule>
